.DS_Store
.idea
.venv
.vscode
.python-version

__pycache__
.pytest_cache

data/json/
data/m2
data/test
data/json_to_m2.py
data/license.wi.txt
data/license.locness.txt
data/readme.txt

models/gec-model_1_tf_25.pt
models/gec-model_2_tf_50.pt
models/gec-model_3_tf_75.pt
models/gec-model_4_large.pt

test/model_1
test/model_2
test/model_3